{% extends "base.html" %}

{% block instruction %} 

	<!-- Add the instruction of your task -->

{% endblock %}

{% block iframe %}

	<!-- Place for you to render a point to the crowd! 
		
		{{id}} is the identifier of this point
		{{point}} is the content of this point as defined by the API. 
		See sa.html, er.html, ft.html for more details!
	
	-->
	
{% endblock %}

{% block labels %}

	<!-- Add labels for your task. 		
		Note :
			Each label must be something like :
				<input type="radio" id = {{id}} name = "{{forloop.counter}}" value="<DOUBLE>"> <Label Name> <br/>
			where only two parts are changeable - <DOUBLE> is a real number and <Label Name> is the description of this label.
			
		Example :
			<input type="radio" id = {{id}} name = "{{forloop.counter}}" value="1.0"> Yes <br/>
			<input type="radio" id = {{id}} name = "{{forloop.counter}}" value="0.0"> No <br/>
			
	-->
	
{% endblock %}
