<html>
<head>
    <link href="https://s3.amazonaws.com/mturk-public/bs30/css/bootstrap.min.css" rel="stylesheet" />
    <title>Free Cat!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1 class="text-center">Thanks for your hard work!<br/>Have a cat!</h1>
            <br/>
            <img src="http://thecatapi.com/api/images/get?format=src&type=gif&size=full">
            <br/>
            <h3><a href="/crowds/internal/">Back to Work!</a></h3>
        </div>
    </div>
</body>
</html>