<html>
<head>
    {% block jslibraries %}
        <script type='text/javascript' src='//code.jquery.com/jquery-1.11.0.js'></script>
        <script type='text/javascript' src='https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js'></script>
    {% endblock jslibraries %}

    {% block customjs %}
        <script type="text/javascript">
            {% block get_answer_inputs_func %}
                function get_answer_inputs()
                {
                    return $(".label_container :input");
                }
            {% endblock get_answer_inputs_func %}
            
            {% block get_task_divs_func %}
                function get_task_divs()
                {
                    return $(".panel.panel-default");
                }
            {% endblock get_task_divs_func%}

            {% block validate_func %}
                function validate_answers()
                {
                    return get_answer_inputs().valid();
                }
            {% endblock validate_func %}

            //make answer dictionary
            {% block build_answer_data_func %}
                function build_answer_data()
                {
                    var answers = {};
                    get_answer_inputs().filter(":checked").each(function(index, el)
                    {
                        answers[$(el).attr('id')] = $(el).val();
                    });
                    return answers;
                }
            {% endblock build_answer_data_func %}
            
            //make metric dictionary
            {% block build_metric_data_func %}
                function build_metric_data()
                {
                    return {"time" : time};
                }
            {% endblock build_metric_data_func %}

            {% block get_submit_context_func %}
                function get_submit_context(urlParamStrings)
                {
                    // dummy implementation: no context.
                    return {}

                }
            {% endblock get_submit_context_func %}

            {% block prepare_submit_data_func %}
                function prepare_submit_data()
                {
                    // build the user's answers into the right format
                    var answers = build_answer_data();
                    var metrics = build_metric_data();
                    
                    // get additional context from the URL or page
                    var paramstr = window.location.search.substring(1);
                    var parampairs = paramstr.split("&");
                    var data = get_submit_context(parampairs);
                    data.answers = JSON.stringify(answers);
                    data.metrics = JSON.stringify(metrics);
                    alert(JSON.stringify(data));

                    return data;
                }
            {% endblock prepare_submit_data_func %}

            {% block submit_to_backend_func %}
                function submit_to_backend(data)
                {
                    // Send the data to our backend
                    return $.post("{{ backend_submit_url }}", data)
                }
            {% endblock submit_to_backend_func %}

            {% block submit_to_frontend_func %}
                function submit_to_frontend(data)
                {
                    var submitForm = $("#submitForm");
                    submitForm.attr("action", "{{ frontend_submit_url|default_if_none:'' }}");
                    submitForm.off('submit');
                    submitForm.submit();
                }
            {% endblock submit_to_frontend_func %}

            {% block handle_is_accepted_func %}
                function handle_is_accepted()
                {
                    var is_accepted = {{ is_accepted|yesno:"true,false" }};
                    if (!is_accepted)
                    {
                        get_answer_inputs().prop("disabled", true);
                    }
                }
            {% endblock handle_is_accepted_func %}

            {% block initialize_metric_func %}
                function initialize_metric()
                {
                    {% block create_global_variables %}                    

                    // A map that maps task_id to the time the worker spent on it.
                    time = {}             
                    // The task_id of the task the mouse is currently on, empty if the mouse is outside any task.
                    focus = "";
                    // The update freqency of the setInterval function, in ms.
                    delay = 10;

                    {% endblock %}

                    {% block Register_event_listeners %}                    

                    // Register a mouseenter event listener for each task divs.
                    get_task_divs().mouseenter(function(){
                        focus = $(this).find(":radio:first").attr("id");
                    });

                    // Use setInterval to track timing 
                    setInterval(function(){
                        if (focus != "")
                            if (focus in time)
                                time[focus] += delay;
                            else 
                                time[focus] = delay;
                        }, delay);

                    {% endblock %}
                    
                }
            {% endblock initialize_metric_func %}
            
            {% block initialize_form_validation_func %}
                function initialize_form_validation()
                {
                    // Set up form validation
                    $("#submitForm").validate({
                        onsubmit: false,
                        errorLabelContainer: "#errorList",
                        errorContainer: "#errorPanel",
                        wrapper: "li",
                        highlight: function(element) {
                            $(element).closest(".panel").addClass("panel-danger")
                        },
                        unhighlight: function(element) {
                            $(element).closest(".panel").removeClass("panel-danger")
                        }
                    });
                    get_answer_inputs().each(function(index, el)
                    {
                        var task_name = $(el).closest(".panel").children(".panel-heading").children("h2").text();
                        var error_msg = "Uncompleted input in " + task_name.toLowerCase();
                        $(el).rules("add", {
                            required: true,
                            messages: {
                                required: error_msg
                            }
                        });
                    });
                    $("#errorPanel").hide().removeClass("hidden");
                }
            {% endblock initialize_form_validation_func %}

            {% block ready_func %}
                $(document).ready(function()
                {
                    // Make sure to send data to our backend when the user submits
                    $("#submitButton").click(function(event)
                    {
                        event.preventDefault();
                        if (!validate_answers()) return;
                        var data = prepare_submit_data();
                        $.when(submit_to_backend(data)).then(function(data, status)
                        {
                            submit_to_frontend(data);
                        });
                    });

                    // Custom behavior if the worker has accepted this task or is just previewing it.
                    handle_is_accepted();

                    // Prepare form validation
                    initialize_form_validation();
                    
                    // Prepare metric collection
                    initialize_metric();
                });
            {% endblock ready_func %}
        </script>
    {% endblock customjs %}

    {% block css_includes %}
        <link href="https://s3.amazonaws.com/mturk-public/bs30/css/bootstrap.min.css" rel="stylesheet" />
    {%  endblock css_includes %}

    {% block custom_css %}
        <style>
            .task-container {
                margin-top: 10px;
                margin-bottom: 15px;
                font-family: Verdana, Geneva, sans-serif;
            }
            .label_container {
                margin-top: 15px;
            }
        </style>
    {% endblock custom_css %}

    {% block misc_head_tags %}
        <title>Crowd Assignment Interface</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    {% endblock misc_head_tags %}
</head>

<body>
{% block form_tag %}
    <form method="post" id="submitForm" action="">
{% endblock form_tag %}
<input type="hidden" value="" name="assignmentId" id="assignmentId" />
<section class="container task-container" id="DataCollection">
    <div class="row col-xs-12 col-md-12">

        {% block instruction_panel %}
            <div class="panel panel-primary">
                <div class="panel-heading"><strong class="lead">Instructions</strong></div>
                <div class="panel-body">
                    {% block instruction %}

            {% if group_context.instruction %}
                {{group_context.instruction | safe}}
            {% else %}
                {% block default_instruction %}
                Hey, I am an instruction!
                            {% endblock %}
                        {% endif %}

            {% endblock %}
                </div>
            </div>
        {% endblock instruction_panel %}

        {% block error_panel %}
            <div class="panel panel-danger hidden" id="errorPanel">
                <div class="panel-heading"><strong class="lead">Validation Errors!</strong></div>
                <div class="panel-body"><ul id="errorList"></ul></div>
            </div>
        {% endblock error_panel %}

        {% block content_items %}
            {% for id, point in content.items %}
                {% block content_item %}
                    <div class="panel panel-default">
                        <div class="panel-heading"><h2 class="panel-title">Task {{ forloop.counter }}</h2></div>
                        <div class="panel-body">
                            {% block item_data %}
                                <p>no task available</p>
                            {% endblock item_data %}
                            <div class="label_container">
                                {% block item_labels %}
                                {% endblock item_labels %}
                            </div>
                        </div>
                    </div>
                {% endblock content_item %}
            {% endfor %}
        {% endblock content_items %}

        {% block feedback %}
            <div>
                <label>Additional Comments</label>

                <input class="form-control" id="comment" name="comment" placeholder="Say something ..." type="text" />
            </div>
        {% endblock feedback %}
    </div>
</section>

{% if is_accepted %}
    {% block submit_button %}
        <p class="text-center">
            <input type="submit" id="submitButton" class="btn btn-primary" value="Submit" />
        </p>
    {% endblock submit_button %}
{% else %}
    {% block disabled_submit_button %}
        <p class="text-center">
            <input type="submit" id="submitButton" class="btn btn-primary" disabled value="You must ACCEPT the HIT before you can submit the results." />
        </p>
    {% endblock disabled_submit_button %}
{% endif %}
</form>
{% block inline_js %}
{% endblock inline_js %}
</body>
</html>
