{% extends base_template_name %}

{% block default_instruction %} <p> Answer the questions in all the groups. </p> {% endblock %}

{% block item_data %}

	<p style="background-color:#F8F5D8; display:inline-block; padding:5px;"> {{point.title}} </p>
    <table border="1" cellspacing="0" cellpadding="3">
	<thead>										
		<tr>
		{% for field in group_context.fields %}
			<th>{{field}}</th>
		{% endfor %}
		</tr>
	</thead>									
	<tbody>										
		<tr>
			{% for attribute in point.record %}
				<td>{{attribute}}</td>
			{% endfor %}
		</tr>
	</tbody>
    </table>

{% endblock %}

{% block item_labels %}

	<input type="radio" id = "{{id}}" name = "{{forloop.counter}}" value="1.0"> Yes <br/>
	<input type="radio" id = "{{id}}" name = "{{forloop.counter}}" value="0.0"> No <br/>
	
{% endblock %}
								
