{% extends base_template_name %}

{% block default_instruction %} 

	<p>Select the sentiment for each tweet.</p>

	<ul>
		<li>
			<strong> Strongly positive </strong>
			<p> 
				Select this if the tweet embodies emotion that was extremely happy or excited toward the topic.  For example, "Their customer service is the best that I've seen!!!!"
			</p>	
		</li>
		<li>
			<strong> Positive </strong>
			<p> 
				Select this if the tweet embodies emotion that was generally happy or satisfied, but the emotion wasn't extreme.  For example, "Sure I'll shop there again."
			</p>	
		</li>
		<li>
			<strong> Neutral </strong>
			<p> 
				Select this if the tweet does not embody much of positive or negative emotion toward the topic.  For example, "Yeah, I guess it's ok." or "Is their customer service open 24x7?"
			</p>	
		</li>
		<li>
			<strong> Negative </strong>
			<p> 
				Select this if the tweet embodies emotion that is perceived to be angry or upsetting toward the topic, but not to the extreme.  For example, "I don't know if I'll shop there again because I don't trust them."
			</p>	
		</li>
		<li>
			<strong> Strongly negative </strong>
			<p> 
				Select this if the tweet embodies negative emotion toward the topic that can be perceived as extreme.  For example, "These guys are teriffic... NOTTTT!!!!!!" or "I will NEVER shop there again!!!"
			</p>	
		</li>							
	</ul>				

{% endblock %}

{% block item_data %}

	<p style="background-color:#F8F5D8; display:inline-block; padding:5px; margin-bottom: -10px"> {{point}} </p>

{% endblock %}

{% block item_labels %}

	<input type="radio" id = "{{id}}" name = "{{forloop.counter}}" value="1.0"> Strongly Positive <br/>
	<input type="radio" id = "{{id}}" name = "{{forloop.counter}}" value="2.0"> Positive <br/>
	<input type="radio" id = "{{id}}" name = "{{forloop.counter}}" value="3.0"> Neutral <br/>
	<input type="radio" id = "{{id}}" name = "{{forloop.counter}}" value="4.0"> Negative <br/>
	<input type="radio" id = "{{id}}" name = "{{forloop.counter}}" value="5.0"> Strongly Negative <br/>						
	
{% endblock %}
								
