{% extends base_template_name %}
<!-- Add HTML to display an interface to the crowd for completing tasks of a new type.

This template will display a single-screen interface to the crowd for gathering labels of one or more items of the same
task type. To define your task type, copy this template, then fill in the blocks below.

Note: Twitter Bootstrap CSS classes will be available for styling.

-->

{% block default_instruction %} 

	<!-- Add default instructions for your task -->

{% endblock %}

{% block item_data %}

	<!-- Place for you to render a point to the crowd! 
		
		{{ id }} is the unique identifier of this point
		{{ point }} is the content of this point as defined by the API.
		{{ forloop.counter }} is the index of this item in the set of items displayed in the interface.

		See sa.html, er.html, ft.html for more details!
	
	-->
	
{% endblock %}

{% block item_labels %}

	<!-- Add inputs to record labels for an item.
	    Note:
	        There must be only one label per item, so you should only put one type of input here, e.g. several radio
	        buttons with the same name, or one select with multiple options. Only real-valued labels are supported
	        for now.

		Example :
			<input type="radio" id="{{ id }}_1" name = "{{ forloop.counter }}" value="1.0"> Yes <br/>
			<input type="radio" id ="{{ id }}_2" name = "{{ forloop.counter }}" value="0.0"> No <br/>
			
	-->
	
{% endblock %}
