<html>
<head>
  <title>Internal Crowd--No Tasks Available</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link href="https://s3.amazonaws.com/mturk-public/bs30/css/bootstrap.min.css" rel="stylesheet" />
  <style>
    .task-container {
        margin-top: 10px;
        margin-bottom: 15px;
        font-family: Verdana, Geneva, sans-serif;
    }
    .label_container {
        margin-top: 15px;
    }
  </style>
</head>

<body>
<section class="container task-container">
  <div class="row col-xs-12 col-md-12">
    <div class="panel panel-warning">
      <div class="panel-heading"><strong class="lead">No Task Available</strong></div>
      <div class="panel-body">
          <p>We're sorry: either there are no tasks available in the system, or somebody else has completed your task in
          the time it took for you click on it! Try <a href="">refreshing the page</a> to see if new tasks are available.
          </p>
      </div>
    </div>
  </div>
</section>
</body>
</html>
